.quotes {
    @include flexCenter;
    background-image: url('../img/quotes-bg.jpg');
    background-size: cover;
    background-position: center;
    color: #ffffff;
    height: 55vh;
    text-align: center;
    font-size: 3rem;
}